:root {
    --primarycolor: #f57170;
    --backgroundcolor1: #f5f5f5;
    --secondarycolor1: #dbdbdb;
    --secondarycolor2: #f24240;
    --secondarycolor3: #f8a0a0;
    --secondarycolor4: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--backgroundcolor1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#wrapper {
    position: relative;
}
#header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--backgroundcolor1);
}
.logo {
    width: 60vw;
    font-size: 25px;
    color: var(--secondarycolor2);
}
.logo p {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    text-shadow: 1px 1px 2px  rgba(0, 0, 0, 0.692);
}
nav {
    font-weight: 400;
}
nav ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    margin-top: 70px;
}
form {
    display: block;
}
h2 {
    margin-bottom: 15px;
}
#hero input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}
#hero input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 10px 0;
    background-color: var(--primarycolor);
    color: var(--secondarycolor4);
    border: 0;
}
.btn {
    padding: 0 20px;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
#features {
    margin-top: 0px;
    padding-left: 100px;
    padding-right: 100px;
}
#features .hero1 {
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
#features .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    color: var(--primarycolor);
}
.icon:nth-child(odd) {
    width: 100px;
}
.description h2 {
    margin-bottom: auto;
}
#how-it-works {
    display: flex;
    justify-content: center;
    align-items: center;
}
#pricing {
    margin-top: 40px;
}
.pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
    padding-bottom: 20px;
}
.level {
    width: 100%;
    background-color: var(--secondarycolor1);
    color: whi;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
}
.product h2 {
    margin: auto 0;
    padding: 10px 0;
}
.product p {
    margin: auto;
    padding: 10px 20px;
}
.product button {
    padding: 10px;
    margin-top: 15px;
    background-color: var(--primarycolor);
    color: var(--secondarycolor4);
    font-weight: 400;
    border: none;
}
.product button:hover {
    background-color: var(--secondarycolor2);
    transition: background-color 0.5s;
    cursor: pointer;
}
footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
}
footer ul {
    display: flex;
    justify-content: flex-end;
}
ul li {
    display: block;
    padding: 0 10px;
}
footer > span {
    margin-top: 5px;
    font-size: 0.9rem;
    color: black;
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width: 700px) {
    .pricing {
        display: flex;
        flex-direction: column;
    }
}
